h1{
	color: green;
	background: yellow;
	opacity: 5;
	padding: 20px;
}
/*style du body*/

/*style du corp du body*/
div#contenu div{
	display: inline-block;
width: 40%}
div#contenu div.lelftbox{ display: inline-block;
vertical-align: top; } 
div#contenu div.rigthbox{display: inline-block;
vertical-align: center;}
/*mise en forme du menu de navigation*/
nav.menu_nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}
nav.menu_nav ul li.btn a{
	color: green;
	background: #fff;
	text-decoration: none;
	padding: 5px;
	font-size: 20px;
}
nav.menu_nav ul li.btn:hover a{
	color: #fff ;
	background: blue;
	transition: 0.3s;
}
h2{
    background-color: green;
    color: white;
}
h3, p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: larger;
}
h5{
    background-color: black;
    color: white;
    font-size: x-large;
}
p{
    font-size: medium;
}

h6{
    font-size: x-large;
    background-color: black;
    color: white;
}
/*style de pied de page*/
footer{
	background: yellow;
	padding: 15px;
	opacity: 5;
	color: blue;
}
p.prd {
	width: 30cm;
/* #colonne1, #colonne2{width: 5cm; 
	float: left;
*/
}