p.tab{display: table-header-group;}
h2{color: green; font-size: xx-large; font-weight: bold;}
h3{background-color: orange; width: 30%}
h3.color{background-color: orange; width: 30%}
div.fond{background: white}
dl.bordure{border: 1px solid #000;}
div.contenu{background: yellow; width: 50%}
em.colorgr{color: green; font-weight: bold;}
span.colorgr{color: green;}
footer{
	flex-shrink: 0;
}
.contenu_footer{
	margin-top: 4cm;
	justify-content: center;
	align-items: flex-start;
	display: flex;
	flex: 1 0 auto;
	background-color: rgb(3, 3, 3);
	color: white;
}
.mod{
	width: 1cm;
	background-color: black;
	padding-right: 10px;
}
.bloc{
	width: 25%;
	margin: 0 30px;
}
.footer-reseau h3,
.footer-contact h3,
.footer-service h3{
	font-size: 25px;
	padding-bottom: 5px;
}
li{
	list-style-type: none;
	font-size: 20px;
}
.liste-contact li {
	padding: 2px 0;
}
.liste-reseau{
	width: 40px;
	margin: 10px 10px;
}
.liste-reseau, a {
	text-decoration: none;
	color: rgb(3, 3, 3);
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 5px 0;
}
.a{
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 5px 0;
	margin-left: 5px;
}
.liste-reseau{
	position: relative;
	right: 10px;
}
.slogan{
	color: white;
	background-color: black;
	font-weight: bold;
	font-style: italic;
}
