body{
color: black;
background:white;
width: 1000px;
margin-left: 3cm;
margin-right: 5cm;
}
video{
width: 1000px;
height:100px;
}
.wrapper{
		display: grid;
	grid-template-columns: repeat(3,5fr);
}
.wrapper1{
display: grid;
grid-template-columns:repeat(2,3fr);
}
