/*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}*/
.black{
	color: black;
}
body{
	color: white;
}
.my-x{
	margin-top: -0.8rem;
  margin-bottom: -0.8rem;
}
.ms-6{
	margin-left: 2.4rem;
}

.green{
	color: #23a14c;
}
.org{
	color: orangered;
	font-size: 900;
	font-size: 1cm;
	text-align: center;
	transition: 0.5s ease-in-out border-color .3s ease;
}
/*.org:hover{
	padding-bottom: 20px;
}*/
.ft-weight{
	font-weight: 700;
	color: blue;
}
.bg-image{
	background: url('../img/img-bureau-1.png');
	transition: .4s;
}
.white:hover{
	color: white;
}
.ylw:hover{
	color: yellow;
}
.bg-image:hover{
	background: #b3b3b3ff;
}
.bg-image1{
	background: url('../img/img-bureau.png');
	transition: .4s;
}
.bg-image1:hover{
	background: #e3d7f4ff;
}
ul li a{
	text-decoration: none;
}
.a .b{
	display: inline;
	margin: 0 5px;
	}
.text-heading{
	font-size: 25px;
	color: white;
}
#list-incline-item{
	color: white;
	font-size: 18px;
}
.list-incline-item{
	color: white;
	font-size: 18px;
}
/*body{
	background: white;
}*/
.p-70{
	padding: 70px;
}
.bg-green{
	background-color: #23a14c;
}
.btn-color{
	background-color: green;
	color: white;
}

.logo {
	width: 35px;;
	height: 35px;
}
.grtitre{
	font-size: 1cm;
	font-weight: bold;
	text-align: center;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
	background-color: rgba(0,0,0,0.95);
	box-shadow: 1px 1px 4px ;
	color: green;
    min-width: 160px;
	box-shadow: 0px 0px 8px 8px rgba(240,234,0, 0.54);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.cc-navbar{
	background-color: rgba(0,0,0,0.95);
	box-shadow: 1px 1px 4px rgba(240,234,0, 0.54);
	z-index: 99;
}
/*.cc-navbar .nav-link{
	transition: padding-bottom 0.4s ease-in-out border-color 0.3s ease;
}
.cc-navbar .nav-link:active{
	padding-bottom: 20px;
	border-bottom-color: #23a14c;
}*/
.banner{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../info/bg.jpg') center center fixed no-repeat;
	background-size: cover;
}
.banner-disc{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/womens.jpg') center center fixed no-repeat;
	background-size: cover;
}
.bg-ft{
	background-color: rgba(22,160,78,0.6);
	box-shadow: 1px 1px 1px 3px rgba(240,234,0, 0.54);
}
.mt-6{
	margin-left: -1rem;
}
.par{
	font-weight: 500;
}
